@font-face {
  font-family: "Impact";
  src: local("Impact"), url("./font/impact.ttf") format("truetype");
}

main {
  min-height: 80vh;
}
h1 {
  font-family: "Impact", sans-serif;
  padding: 0.1rem;
}
.landing-page {
  font-family: "Impact", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}
.hero-img {
  width: 50%;
  height: auto;
}
.hero-txt {
  color: black;
}

.render-app-button {
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  font-size: 40px;
}
.render-app-button:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  font-size: 40px;
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: right;
}

.imageCarouselClass {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.facebook-link {
  font-size: 30px;
  color: #aaa;
}
.facebook-link:hover {
  cursor: pointer;
  color: #3b5998;
}

.twitter-link {
  font-size: 30px;
  color: #aaa;
}
.twitter-link:hover {
  cursor: pointer;
  color: #55acee;
}

.instagram-link {
  font-size: 30px;
  color: #aaa;
}
.instagram-link:hover {
  cursor: pointer;
  color: #e95950;
}

.tiktok-link {
  font-size: 30px;
  color: #aaa;
}
.tiktok-link:hover {
  cursor: pointer;
  color: #ff0050;
}

@media screen and (min-width: 1400px) {
  .hero-img {
    width: 30%;
    height: auto;
  }
}
